name: 'metrics-drilldown'
services:
  grafana:
    container_name: 'grafana'
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
    build:
      args:
        grafana_version: ${GRAFANA_VERSION:-11.6.0}
    ports: !override
      - '${GRAFANA_PORT:-3000}:3000/tcp'
    environment:
      GF_SERVER_ROOT_URL: 'http://localhost:${GRAFANA_PORT:-3000}'
      GF_FEATURE_TOGGLES_ENABLE: exploreMetricsUseExternalAppPlugin
      # prevents a Grafana startup error in case a newer plugin version (set in package.json) is used compared to the latest one published in the catalog
      GF_PLUGINS_PREINSTALL_DISABLED: true
    volumes:
      - ./provisioning/dashboards/dashboardJson:/etc/dashboards
    extra_hosts:
      # This allows us to connect to other services running on the host machine.
      - 'host.docker.internal:host-gateway'

  prometheus:
    container_name: 'prometheus'
    build:
      dockerfile: ./e2e/docker/Dockerfile.prometheus-static-data
      context: .
    ports:
      - '9099:9090'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    command: >
      --enable-feature=remote-write-receiver
      --enable-feature=exemplar-storage
      --enable-feature=native-histograms
      --config.file=/etc/prometheus/prometheus.yml
      --storage.tsdb.path=/prometheus/data
      --storage.tsdb.retention.time=42y
    volumes:
      - ./e2e/provisioning/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  fake-server-utf8:
    # Grabbed from: https://github.com/grafana/grafana/tree/main/devenv/docker/blocks/prometheus_utf8
    container_name: 'utf8'
    build: ./e2e/docker/fake-server-utf8
    ports:
      - '9112:9112'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
