name: create bundle stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Run once per day at midnight UTC
  push:
    branches:
      - main

permissions:
  contents: "read"
  actions: "write"

jobs:
  build-stats:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build frontend
        run: pnpm run build --profile --json stats.json

      - name: Upload stats.json artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: main-branch-stats
          path: stats.json
          retention-days: 90
          overwrite: true
