name: create bundle stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Run once per day at midnight UTC
  push:
    branches:
      - main

permissions:
  contents: "read"
  actions: "write"

jobs:
  build-stats:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@c5ba7f7862a0f64c1b1a05fbac13e0b8e86ba08c # v4

      - name: Setup Node.js environment
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build frontend
        run: pnpm run build --profile --json stats.json

      - name: Upload stats.json artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: main-branch-stats
          path: stats.json
          retention-days: 90
          overwrite: true
