name: CI

on:
  workflow_dispatch:
    inputs:
      skip-grafana-dev-image:
        required: false
        type: boolean
        default: false
  pull_request:
    branches:
      - main

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  CI:
    uses: grafana/plugin-ci-workflows/.github/workflows/ci.yml@66de69feb58f1396501be4a1459f5a93de35174b
    with:
      run-playwright-docker: true
      run-playwright-with-skip-grafana-dev-image: ${{ inputs.skip-grafana-dev-image || false }}
      upload-playwright-artifacts: true
      playwright-report-path: e2e/test-reports/
      playwright-docker-compose-file: e2e/docker/docker-compose.e2e.yaml
      playwright-e2e-compose-file: e2e/docker/docker-compose.playwright.yaml
      playwright-grafana-url: http://localhost:3001
