name: Playwright Published

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: 'read'

jobs:
  build:
    name: Build plugin
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    outputs:
      plugin-version: ${{ steps.get-version.outputs.plugin-version }}
      plugin-name: ${{ steps.get-name.outputs.plugin-name }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build frontend
        run: pnpm run build --profile --json stats.json

      - name: Get vault secrets
        id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
        with:
          repo_secrets: |
            access_policy_token=ci:access_policy_token
          export_env: false

      - name: Get plugin version
        id: get-version
        run: |
          version=$(jq -r .info.version dist/plugin.json)
          echo "plugin-version=$version" >> $GITHUB_OUTPUT

      - name: Get plugin name
        id: get-name
        run: |
          name=$(jq -r .id dist/plugin.json)
          echo "plugin-name=$name" >> $GITHUB_OUTPUT

      - name: Sign and package
        uses: grafana/plugin-ci-workflows/actions/internal/plugins/package@ci-cd-workflows/v4.3.0
        with:
          output-folder: dist-artifacts
          universal: 'true'
          dist-folder: dist
          access-policy-token: ${{ fromJSON(steps.get-secrets.outputs.secrets).access_policy_token }}

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist-artifacts
          path: dist-artifacts/
          retention-days: 7

  playwright:
    needs: build
    uses: grafana/plugin-ci-workflows/.github/workflows/playwright-docker.yml@ci-cd-workflows/v4.3.0
    with:
      id: ${{ needs.build.outputs.plugin-name }}
      version: ${{ needs.build.outputs.plugin-version }}
      upload-artifacts: true
      report-path: e2e/test-reports/
      grafana-compose-file: docker-compose.yaml
      grafana-url: http://localhost:3001
      skip-grafana-dev-image: true
    permissions:
      contents: read
      id-token: write
