name: 'PR title validation (Conventional Commits spec)'

on:
  # Using pull_request_target to allow labeling fork PRs.
  # This is safe because this workflow only reads PR metadata (title) and never checks out or runs fork code.
  pull_request_target:
    types: [opened, synchronize, reopened, edited]

permissions:
  issues: write
  pull-requests: read

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: PR Conventional Commit Validation
        uses: grafana/PRConventionalCommits@7e66b7b56aa1c4b0fe22cae36d47e955e578b060 # main
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert","build","i18n"]'
          add_label: 'true'
          custom_labels: '{"docs": "type/docs", "I18n": "i18n"}'
